// override and import bootstrap
$primary:       #25566f;
$secondary:     #b27926;
$link-decoration: none;
$font-family-sans-serif: 'Rubik', sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap";


// global css goes here

// variables
$green: #27ae60;
$blue: #2980b9;
$gray-green: #c7cec6;
$lt-gray: #eeeeee;
$md-lt-gray: #cccccc;
$md-gray: #aaaaaa;
$dk-gray: #666666;
$black: #111111;
$red: #cc492f;
$display-font: 'Rubik Mono One', sans-serif;
$body-font: $font-family-sans-serif;

$border-radius-sm: .25em;

$theme-yellow: #d8bd4c;
$theme-green: #275d42;
$theme-background: #eae5d8;


// elements and frame
body {
    min-height: 100vh;
}

header {
    color: $primary;
    background-color: $theme-yellow;
    padding: 1em 3em;
    a {
        color: $primary;
        &:hover {
            color: $primary;
        }
    }
}

footer {
    color: $primary;
    padding: 4em 4em;
    margin-top: 3em;    
}

.site-header {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
    .site-description {
        max-width: 20em;
        font-family: $display-font;
        font-size: .9em;
        text-align: right;
    }
    .site-title {
        align-self: flex-end;
        margin-bottom: -4em;
        margin-left: -2em;
        h1, h2 {
            margin-bottom: 0;
            line-height: 1;
        }
    }
}

.site-header.home {
    h1 {
        color: $theme-green;
        font-family: $display-font;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 3em;
    }
}

.site-header.not-home {
    h2 a {
        color: $theme-green;
        font-family: $display-font;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.5em;
    }
}

.site-header .header-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    a:hover {
        color: $secondary;
    }
}


// global styles

a {
    color: $primary;
    &:hover {
        color: $secondary;
    }
}

// icons

.green-circle {
    color: $green;
}

.blue-square {
    color: $blue;
}

.black-diamond {
    color: $black;
}

.trail-difficulty {
    i {
        margin-left: .25em;
    }
}

// index only; separate out

.all-trails-details {
    font-size: .9em;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    margin-right: 1em;
    margin-top: .75em;
}

.home-container {
    .trail-square {
        background-color: $primary;
        background-image: url('/topo-overlay.svg');
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 17em;
        margin-top: 1em;
        padding: .5em;
        font-size: 1.5em;
        .trail-photo {
            margin: -.5em -.5em 1em -.5em;
        }
        .trail-name {
            background-color: white;
            font-family: $display-font;
            min-height: 3.5em;
            line-height: 1;
            display: flex;
            justify-content: space-between;
            padding: .5em;
            margin: {
                top: 1em;
                left: -1em;
            }
            .trail-difficulty {
                align-self: flex-end;
            }
        }
    }
    .local-square {
        background-color: $red;
        color: white;
        font-family: $display-font;
        p {
            font-family: $body-font;
        }
        hr {
            border: 4px solid white;
            margin: 0em 0em 1em -1em;
            opacity: 1;
        }
    }
}

// locale pages only; separate out

h1.locale-title {
    color: $red;
    font-family: $display-font;
    font-size: 2em;
    margin-bottom: 1em;
}

.trail-squiggle-container {
    margin: {
        top: 1em;
        bottom: 2em;
        right: -1.5rem;
    }
}

.trail-image-container {
    margin-bottom: 2rem;
}

.map-container {
    max-width: 50em;
    margin: auto;
}

.trail-description {
    font-weight: 700;
}

.trail-detail {
    color: $red;
    font-family: $display-font;
}

.trail-detail.trail-detail-alt {
    border-color: $secondary;
}

.trail-detail-type {
    background-color: $red;
    color: white;
    font-family: $display-font;
    padding: 0em .5em;
    margin-right: 1em;
}

.trail-conditions-title, .weather-title {
    font-family: $display-font;
    color: $primary;
    margin-top: 2rem;
}

.display-reports-container {
    background-color: $lt-gray;
    padding: .5em 1em 1em 1em;
    height: 100%;
    border-radius: $border-radius-sm;
    .btn {
        margin-top: -.15em;
    }
    :after {
        display: block;
        height: 1rem;
    }
}

.conditions-container {
    background-color: $gray-green;
}

.conditions-label {
    margin-bottom: .5em;
    font-family: $display-font;
    color: $red;
}

#select-conditions {
    height: 2.35em;
    margin-bottom: 1em;
    margin-right: 1em;
    box-shadow: none;
    transition: box-shadow .25s;
}

#select-conditions.highlight-shadow {
    box-shadow: 0 0 10px $secondary;
    transition: box-shadow .25s;
}

.btn.btn-report, .btn.btn-rode-it {
    width: 12em;
    font-family: $display-font;
}

.btn.btn-report.submitted,
.btn.btn-rode-it.submitted {
    opacity: 1;
    pointer-events: none;
    transition: opacity .5s;
}

.rode-number {
    color: $secondary;
    font-weight: 700;
    border-bottom: 2px solid $primary;
}

.small-warning {
    font-size: .85em;
    color: $red;
}


.weather-container {
    display: flex;
    overflow-x: auto;
}

.weather-day-container {
    width: 25%;
    min-width: 15rem;
    margin-bottom: 2rem;
    &:not(:last-of-type) {
        margin-right: 1rem;
    }
}

.weather-day {
    padding: .5em  1em;
    background-color: $lt-gray;
    border-radius: $border-radius-sm;
    height: 100%;
    color: $primary;
    .weather-day-name {
        font-family: $display-font;
    }
    .weather-day-temp {
        font-size: 2.5em;
    }
}

.back-to-trails {
    background-image: url('/squiggle-white-back.svg');
    background-repeat: no-repeat;
    display: inline-block;
    margin: {
        left: -1rem;
        right: -1rem;
    }
    padding: {
        left: 1rem;
        top: .5rem;
    }
}

// switch

.recentCommonContainer {
    display: flex;
    & > div {
        display: inline-block;
    }
}

.recentLabel, .commonLabel {
    font-size: .75em;
    font-family: $display-font;
    margin-top: .25em;
}

.recentLabel {
    color: $secondary;
}

.commonLabel {
    color: $primary;
}

.condition-phrase {
    font-size: 1.5em;
    text-transform: capitalize;
    color: $secondary;
}

.condition-explanation {
    color: $secondary;
}

.condition-phrase.condition-alt,
.condition-explanation.condition-alt {
    color: $primary;
}

 // the box around the slider 
.switch {
    position: relative;
    display: inline-block;
    width: 2.5em;
    height: 1.5em;
    margin: {
        left: .5em;
        right: .5em;
    }
}

.switch.switch-disabled {
    opacity: .5;
    pointer-events: none;
}

// Hide default HTML checkbox
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

// The slider
.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $secondary;
    -webkit-transition: .2s;
    transition: .2s;
    &::before {
        position: absolute;
        content: "";
        height: 1em;
        width: 1em;
        left: .25em;
        bottom: .25em;
        background-color: white;
        -webkit-transition: .2s;
        transition: .2s;
    }
}

input {
    &:checked+.slider {
        background-color: $primary;
        &:before {
            -webkit-transform: translateX(1em);
            -ms-transform: translateX(1em);
            transform: translateX(1em);
        } 
    }
    &:focus+.slider {
        box-shadow: 0 0 1px $md-gray;
    }
}

/* Rounded sliders */
.slider.round {
    border-radius: 1.5em;
}

.slider.round:before {
    border-radius: 50%;
}

// loading assets

.loading-placeholder {
    background-color: $lt-gray;
    border-radius: 1em;
    opacity: 1;
    animation: loadfade infinite 1s linear;
    display: inline-block;
}

.loading-placeholder.dk-load {
    background-color: $md-lt-gray;
}

.loading-md {
    font-size: 1.25em;
    width: 10em;
    height: 1em;
}

.loading-sm {
    width: 5em;
    height: 1em;
}

.loading-text {
    width: 50%;
    min-width: 10em;
    height: 1em;
}

@keyframes loadfade {
    0%, 100% { opacity: .5 }
    50% { opacity: 1 }
}

// media queries and breakpoints

@media screen and (max-width: 575px) {
    header {
        .site-header.not-home {
            h2 {
                font-size: 1.5em;
                margin-bottom: .75em;
            }
        }
        .site-header.home {
            p {
                font-size: .85em;
            }
        }
        padding: 1em;
    }
    footer {
        padding: 1em 1.5em;
    }
    .site-header {
        flex-direction: column;
        align-items: center;
        .site-title {
            margin-bottom: 1rem;
            align-self: center;
        }
        .site-description {
            text-align: center;
        }
    }
    .map-container {
        margin: 1.5em auto;
    }
    .home-container {
        .trail-square {
            margin: .5em;
        }
    }
    .trail-squiggle-container {
        margin-right: 0rem;
    }
    .weather-container {
        margin-right: -1.5rem;
    }
    .weather-day-container {
        &:last-of-type {
            margin-right: 1rem;
        }
    }
}