// override and import bootstrap
$primary:       #25566f;
$secondary:     #b27926;
$link-decoration: none;
$font-family-sans-serif: 'Rubik', sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap";


// global css goes here

// variables
$green: #27ae60;
$blue: #2980b9;
$lt-gray: #eeeeee;
$md-lt-gray: #cccccc;
$md-gray: #aaaaaa;
$dk-gray: #666666;
$black: #111111;
$red: #cc492f;
$display-font: 'Rubik Mono One', sans-serif;

$theme-yellow: #d8bd4c;
$theme-green: #275d42;
$theme-background: #eae5d8;


// elements and frame
body {
    min-height: 100vh;
}

header {
    color: $primary;
    background-color: $theme-yellow;
    padding: 1em 3em;
    a {
        color: $primary;
        &:hover {
            color: $primary;
        }
    }
}

footer {
    color: #eeeeee;
    background-color: #333333;
    padding: 1em 3em;
    margin-top: 3em;    
}

.site-header {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
    .site-description {
        max-width: 20em;
        font-family: $display-font;
        font-size: .9em;
        text-align: right;
    }
    .site-title {
        align-self: flex-end;
        h1, h2 {
            margin-bottom: -.85em;
            line-height: 1;
        }
    }
}

.site-header.home {
    h1 {
        color: $theme-green;
        font-family: $display-font;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 3em;
    }
}

.site-header.not-home {
    h2 {
        font-family: $display-font;
    }
}

.site-header .header-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    a:hover {
        color: $secondary;
    }
}


// global styles

a {
    color: $primary;
    &:hover {
        color: $secondary;
    }
}

// icons

.green-circle {
    color: $green;
}

.blue-square {
    color: $blue;
}

.black-diamond {
    color: $black;
}

// index only; separate out

.all-trails-details {
    font-size: .9em;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    margin-right: 1em;
}

.home-container {
    .trail-square {
        background-color: $primary;
        min-height: 14em;
        margin-top: 2em;
        padding: .5em;
        font-size: 1.5em;
        .trail-photo {
            height: 5em;
        }
        .trail-name {
            background-color: white;
            font-family: $display-font;
            min-height: 3.5em;
            line-height: 1;
            display: flex;
            justify-content: space-between;
            padding: .5em;
            margin: {
                top: 1em;
                left: -1em;
            }
            .trail-difficulty {
                align-self: flex-end;
                i {
                    margin-left: .25em;
                }
            }
        }
    }
    .local-square {
        background-color: $red;
        color: white;
        font-family: $display-font;
        p {
            font-size: .65em;
        }
        hr {
            border: 4px solid white;
            margin: 0em 0em 1em -1em;
            opacity: 1;
        }
    }
}

// locale pages only; separate out

.map-container {
    max-width: 50em;
    margin: auto;
}

.trail-detail {
    border: 1px solid $primary;
    border-radius: 1em;
    padding: .1em .5em .25em .5em;
    margin-left: .5em;
    margin-top: .25em;
    white-space: nowrap;
}

.trail-detail.trail-detail-alt {
    border-color: $secondary;
}

.conditions-label {
    margin-bottom: .5em;
}

#select-conditions {
    margin-bottom: 1em;
    box-shadow: none;
    transition: box-shadow .25s;
}

#select-conditions.highlight-shadow {
    box-shadow: 0 0 10px $secondary;
    transition: box-shadow .25s;
}

.btn.btn-report, .btn.btn-rode-it {
    width: 8em;
}

.btn.btn-report.submitted,
.btn.btn-rode-it.submitted {
    opacity: 1;
    pointer-events: none;
    transition: opacity .5s;
}

.rode-number {
    color: $secondary;
    font-weight: 700;
    border-bottom: 2px solid $primary;
}

.small-warning {
    font-size: .85em;
    color: $red;
}

// switch

.recentCommonContainer {
    display: flex;
    & > div {
        display: inline-block;
    }
}

.recentCommonLabel {
    font-size: .85em;
    color: $dk-gray;
}

 // the box around the slider 
.switch {
    position: relative;
    display: inline-block;
    width: 2.5em;
    height: 1.5em;
    margin: {
        left: .5em;
        right: .5em;
    }
}

.switch.switch-disabled {
    opacity: .5;
    pointer-events: none;
}

// Hide default HTML checkbox
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

// The slider
.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $secondary;
    -webkit-transition: .2s;
    transition: .2s;
    &::before {
        position: absolute;
        content: "";
        height: 1em;
        width: 1em;
        left: .25em;
        bottom: .25em;
        background-color: white;
        -webkit-transition: .2s;
        transition: .2s;
    }
}

input {
    &:checked+.slider {
        background-color: $primary;
        &:before {
            -webkit-transform: translateX(1em);
            -ms-transform: translateX(1em);
            transform: translateX(1em);
        } 
    }
    &:focus+.slider {
        box-shadow: 0 0 1px $md-gray;
    }
}

/* Rounded sliders */
.slider.round {
    border-radius: 1.5em;
}

.slider.round:before {
    border-radius: 50%;
}

// loading assets

.loading-placeholder {
    background-color: $lt-gray;
    border-radius: 1em;
    opacity: 1;
    animation: loadfade infinite 1s linear;
    display: inline-block;
}

.loading-placeholder.dk-load {
    background-color: $md-lt-gray;
}

.loading-md {
    font-size: 1.25em;
    width: 10em;
    height: 1em;
}

.loading-sm {
    width: 5em;
    height: 1em;
}

.loading-text {
    width: 50%;
    min-width: 10em;
    height: 1em;
}

.weather-day {
    padding: .5em  1em;
    background-color: $lt-gray;
    border-radius: .5em;
    height: 100%;
}

@keyframes loadfade {
    0%, 100% { opacity: .5 }
    50% { opacity: 1 }
}

// media queries and breakpoints

@media screen and (max-width: 575px) {
    header {
        .site-header.not-home {
            h2 {
                font-size: 1.5em;
                margin-bottom: .75em;
            }
        }
        .site-header.home {
            p {
                font-size: .85em;
            }
        }
        padding: 1em;
    }
    footer {
        padding: 1em 1.5em;
    }
    .site-header .header-nav {
        flex-direction: column;
        align-items: flex-start;
    }    
    .map-container {
        margin: 1.5em auto;
    }
    .home-container {
        padding-top: 50vw;
        padding-bottom: 4em;
        min-height: 0px;
        .trail-square {
            margin: .5em;
        }
    }
}