// override and import bootstrap
$primary:       #1f618d;
$secondary:     #b9770e;
$link-decoration: none;

@import "../node_modules/bootstrap/scss/bootstrap";


// global css goes here

// variables
$green: #27ae60;
$blue: #2980b9;
$lt-gray: #eeeeee;
$md-lt-gray: #cccccc;
$md-gray: #aaaaaa;
$dk-gray: #666666;
$black: #111111;
$red: #b03a2e;
// $primary: #283747;
// $secondary-lt: #f39c12;

// elements and frame
body {
    min-height: 100vh;
}

header {
    color: #eeeeee;
    background-color: #333333;
    padding: 1em 3em;
    font-size: 1.25em;
    a {
        color: #eeeeee;
        &:hover {
            color: #eeeeee;
        }
    }
}

footer {
    color: #eeeeee;
    background-color: #333333;
    padding: 1em 3em;
    margin-top: 3em;    
}

.site-header.home {
    h1 {
        font-weight: 700;
        text-transform: uppercase;
    }
}

.site-header .header-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    a:hover {
        color: $secondary;
    }
}


// global styles

a {
    color: $primary;
    &:hover {
        color: $secondary;
    }
}

// icons

.green-circle {
    color: $green;
}

.blue-square {
    color: $blue;
}

.black-diamond {
    color: $black;
}

// index only; separate out

.all-trails-details {
    font-size: .8em;
    color: $dk-gray;
    margin-right: 1em;
}

ul.locales-list {
    list-style: none;
    margin: 1em 0em;
    li {
        font-size: 1.5em;
        margin-bottom: 1em;
    }
}

.home-container {
    padding: 8em 0em;
    // vvv img should be 1920x960 vvv
    background-image: url('../public/eadsville-looky-1920x960.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 960px;
}

.locales-list-container {
    background-color: $lt-gray;
    padding: 2em;
    border-radius: .5em;
    h2 {
        font-weight: 700;
        text-transform: uppercase;
    }
}

// locale pages only; separate out

.map-container {
    max-width: 50em;
    margin: auto;
}

.trail-detail {
    border: 1px solid $primary;
    border-radius: 1em;
    padding: .1em .5em .25em .5em;
    margin-left: .5em;
    margin-top: .25em;
    white-space: nowrap;
}

.conditions-label {
    margin-bottom: .5em;
}

#select-conditions {
    margin-bottom: 1em;
}

.btn.btn-report, .btn.btn-rode-it {
    width: 8em;
}

.btn.btn-report.submitted,
.btn.btn-rode-it.submitted {
    opacity: 1;
    pointer-events: none;
    transition: opacity .5s;
}

.rode-number {
    color: $secondary;
    font-weight: 700;
    border-bottom: 2px solid $primary;
}

.small-warning {
    font-size: .85em;
    color: $red;
}

// loading assets

.loading-placeholder {
    background-color: $lt-gray;
    border-radius: 1em;
    opacity: 1;
    animation: loadfade infinite 1s linear;
    display: inline-block;
}

.loading-placeholder.dk-load {
    background-color: $md-lt-gray;
}

.loading-md {
    font-size: 1.25em;
    width: 10em;
    height: 1em;
}

.loading-sm {
    width: 5em;
    height: 1em;
}

.loading-text {
    width: 50%;
    min-width: 10em;
    height: 1em;
}

.weather-day {
    padding: .5em  1em;
    background-color: $lt-gray;
    border-radius: .5em;
    height: 100%;
}

@keyframes loadfade {
    0%, 100% { opacity: .5 }
    50% { opacity: 1 }
}

// media queries and breakpoints

@media screen and (max-width: 575px) {
    header {
        .site-header.not-home {
            h2 {
                font-size: 1.5em;
                margin-bottom: .75em;
            }
        }
        .site-header.home {
            p {
                font-size: .85em;
            }
        }
        padding: 1em;
    }
    footer {
        padding: 1em 1.5em;
    }
    .site-header .header-nav {
        flex-direction: column;
        align-items: flex-start;
    }    
    .map-container {
        margin: 1.5em auto;
    }
    .home-container {
        padding-top: 50vw;
        padding-bottom: 4em;
        min-height: 0px;
    }
    .locales-list-container {
        padding: 1em;
    }
}